
@keyframes animation-paginator {
    0%{
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.c-pagination{
    top: 90%;
    left: 35%;
    z-index: 1;
    height: 100%;
    display: flex;
    position: absolute;

    &__item{
        width: 10px;
        height: 10px;
        position: relative;
        margin-right: 20px;
        border-radius: 50px;
        background-color: lightgray;
        
        @media (min-width:768px){
            width: 70px;
            border-radius: 25px;
        }
    }
    &__line{
        left:0;
        width: 0%;
        height: 100%;
        opacity: 0.8;
        position: absolute;
        border-radius: 25px;
        &.active{
            opacity: 1;
            left:0;
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 25px;
            background-color:orange;
            animation: animation-paginator 2000ms  ease;
            
        }
    }
}