@import 'breakpoints';
@import 'grid';
@import 'icons';
@import 'spacing';


// FONT //
$icon_Path: '/assets/images/icons/';
$font_Path: '/assets/fonts/';
$font_default: arial, sans-serif;
$font_regular:'mg-regular', $font_default;
