.c-installations {
    background-color: rgba(230, 184, 0, 0.69);

  &__images {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    font-size: 30px;
    color: white;
    padding-top: 40px;
    text-align: center;
    letter-spacing: 3px;
    font-family: "Josefin Sans";
    @media (min-width: 768px) {
      font-size: 44px;
    }
  }
}
