$breakpoints: (
    sm:0,
    md:768px,
    lg:1200px
);

$font_Path: '/fonts/';


$JoseFinSans: 'JoseFinSans';
$lato-regular: 'lato-regular';
$lato-bold: 'lato-bold';
$fredoka-regular: 'Fredoka-regular';
$JoseFinSans-bold: 'JoseFinSans-bold';
$JoseFinSans-regular: 'JoseFinSans-regular';