.header {
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #99c343;

    @include tablet {
        height: 385px;
    }

    &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    padding: 20px 0 150px 20px;

    @include tablet {
        margin-top: auto;
        flex-direction: row;
        
        padding: 20px 0 50px 50px;
    } 
    }

    %text-dinamic {
        font-size: 44px;
        color: $color_orange;
        font-weight: 300;

    }
    #word{
        @extend %text-dinamic;
        position: relative;
        margin-top: 50px;

        & + span {
            @extend %text-dinamic;
            position: relative;
            margin-top: 50px;
            margin-right: 200px;
        }
    }

    @include tablet {
        height: 410px;
    }
    &__figure{
        width: 200px;
        height: 100px;
        @include tablet {
            width: 300px;
            height: 135px;
            transition: height 1s ease;
        }
    }

    &__img{
        height: 100%;
    }

    &__nav{
        padding: 20px 0 0 20px;
        background-color: rgba(255,255,255);
        @include tablet {
            z-index: 9;
            width: 100%;
            display: block;
            position: fixed;
        }
    }

    &__title{
        margin-right: auto;
        margin-bottom: 50px;
    }
}