---
import Layout from "../layouts/Layout.astro";

let items = 'hola como estas marijuana';

const handleItem = () => {
    items = 'hola como estas marijuana';
}


console.log(Astro)
---

<Layout title="bienvenido">
    <div>
        <p style="color: red">{items}</p>
        <button class="button">buenos dias</button>
    </div>
</Layout>


<script>

    window.onload = () => {
        console.log('hola')
    }
    document.querySelector('.button').addEventListener('click', () => {
        
    })
</script>