// LAYOUT //
$layout_bp_mobile:360px;
$layout_bp_tablet: 768px;
$layout_bp_tablet_large: 768px;
$layout_bp_desktop: 1200px;


// FONT //
$icon_Path: '/assets/images/icons/';
$font_Path: '/assets/fonts/';
$font_default: arial, sans-serif;
$font_regular:'mg-regular', $font_default;
