.c-welcome{
    display: block;
    width: 100%;
    height: 100%;
}

.c-image-background{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    &__img{
        width: 100%;
        height: 100%;
    }
}