%format-text {
  color: white;
  font-size: 16px;
  line-height: 1.9;
  text-align: left;
}

.c-footer {
  background: rgba(230, 184, 0, 0.69);

  &__container {
    display: flex;
    padding: 20px 0;
    flex-direction: column;

    @media (min-width: 1024px) {
      padding: 20px;
    }

    @media (min-width: 1024px) {
      padding: 50px;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 1200px) {
      padding: 50px 100px;
    }

    &--link {
      padding: 0px 20px 10px;
      text-align: center;
      @media (min-width: 1200px) {
        padding-left: 100px;
        text-align: left;
      }
    }
  }

  &__list {

    @media (min-width: 768px){
      flex: 0 230px;
    }

    @media (min-width: 1200px) {
      flex: 0 1 300px;
    }
  }

  &__item {
    @extend %format-text;
    display: flex;
    padding: 0 20px;
    margin-bottom: 20px;
    flex-direction: column;
    font-family: 'JoseFinSans-regular';
    & > span {
      &:first-child {
        margin-bottom: 10px;
        font-family: 'JoseFinSans-bold';
      }
    }
  }

  &__socials{
    margin-right: 30px;
  }

  &__link {
    @extend %format-text;
    margin-right: 50px;
    cursor: pointer;
    margin-top: 40px;
    text-decoration: none;

    &:first-child{
      display: block;
      margin-bottom: 20px;
      width: 100%;

      @media (min-width:768px){
        width: auto;
        display: inline-block;
      }
      @media (min-width:1200px){
        margin-right: 100px;
      }
    }
  }
}
